.analytics-form{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    &__header{
        font-size: 1.3em;
        font-weight: 500;
    }
}

.form-body{
    display: flex;
    justify-content: center;
    &__diagram{
        width: 50%;
    }
}