.comment-element {
    display: flex;
    flex-direction: row;
    width: 70%;

    &__img {
        margin-right: 10px;
    }

    &__comment-info {
        display: flex;
        flex-direction: column;
    }
}

.comment-info {
    &__comment-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &>p {
            margin: 0;
        }
    }

    &__comment-text {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        &>p {
            margin: 0;
        }
    }

}

.comment-header{
    &__user-name{
        font-size: 0.9em;
        font-weight: 500;
        color: rgb(95, 93, 93);
        margin-right: 10px !important;
    }
    &__change-date{
        font-size: 0.8em;
        font-weight: 400;
        color: rgb(95, 93, 93);
    }
}