.action-list{
    height: 100%;
    position: relative;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    &__element{
        &:last-child{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    
}